
.header{
  height: 100vh;
  background: url(../assets/img/bg1.jpg) no-repeat center center/cover;
  position: relative;
  color: $white-color;
  animation: changePhoto 12s ease-in-out infinite alternate-reverse forwards;
  &__box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
  &__heading{
    font-size: 3rem;
    animation: moveInleft 2s ease-in-out;
    &--special{
      color: $red-color;
    }
  }
  &__text{
    font-size: 1.4rem;
    color: $gray-color;
    font-style: italic;
    animation: moveInright 2s ease-in-out;
  }

}

.navigation{
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img{
    display: inline-block;
    width: 150px;
    @media (max-width: 850px){
      width: 130px;
    }
  }
  &__list{
    display: flex;
    align-items: center;
    list-style: none;
    @media (max-width: 850px){
      // display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 0;
      margin: 0;
      background-color: rgba(0,0,0,.9);
      right: 0;
      top: 0;
      width: 300px;
      height: 100%;
      z-index: 2;
      transform: translateX(300px);
      transition: transform .3s ease-in-out;
    }
  }
  &__item{
    &:not(:last-child){
      margin-right: 3rem;
    }
    @media (max-width: 850px){
      &:not(:last-child){
        margin: 0 0 2.5rem 0;
      }
    }
  }
  &__link{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: $white-color;
    font-weight: bold;
    transition: color .2s;
    &:hover{
      color: darken($white-color, 40%);
    }
  }
}

.navigation__list--active{
  display: flex;
  transform: translateX(0);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.842) 85%, rgba(75, 75, 77, 0.877));
}

.hamburger{
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  z-index: 2;
  display: none;
  @media (max-width: 850px){
    display: block;
  }
  &__box{
    width: 40px;
    height: 24px;
    display: none;
    position: relative;
    @media (max-width: 850px){
      display: inline-block;
      z-index: 2;
    }
  }
  &__inner{
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    background-color: $white-color;
    position: absolute;
    transition: background-color .3s linear;
    &::before, &::after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $white-color;
      transition: transform .3s ease-in-out;
    }
    &::before{
      top: -10px;
    }
    &::after{
      top: 10px;
    }
  }
}

.hamburger--active .hamburger__inner{
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before{
  transform: translateY(10px) rotate(45deg)  ;
}

.hamburger--active .hamburger__inner::after{
  transform: translateY(-10px) rotate(-45deg)  ;
}

