// @keyframes changePhoto{
//   0%{
//     background: url(../assets/img/bg2.jpg) no-repeat center center/cover;
//   }30%{
//     background: url(../assets/img/bg3.jpg) no-repeat center center/cover;
//   }
// }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}