$white-color: #fff;
$red-color: #C81918;
$gray-color: #706d6d;
$bg-color: #161616;
$p-color: #363636;
$bg2-color: #595959;
$bg3-color: #eee;
$btn-color: #A65353;
$btn2-color: #313640;
$gold-color: #ffd700;
$link-color: #0388A6;