@import "_normalize";
@import "_variables";
@import "_keyframes";
@import "_header";
@import "_cities";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Ubuntu', sans-serif;
}