@import "_normalize";
@import "_variables";
@import "_keyframes";
@import "_header";
@import "_cities";
@import "_facts";
@import "_hotel";
@import "_footer";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu', sans-serif;
  counter-reset: section;
}